<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nslookup2csv.Properties.StringFormat" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="nslookup2csv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <nslookup2csv.Properties.StringFormat>
            <setting name="Title" serializeAs="String">
                <value>==============================
         nslookup2csv
 Copyright (C) 2018 mamori017
==============================</value>
            </setting>
            <setting name="ParameterError" serializeAs="String">
                <value>Parameter error</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>Target : {0}</value>
            </setting>
            <setting name="Finish" serializeAs="String">
                <value>Finish</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>Output : {0}</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>.\{0}.csv"</value>
            </setting>
            <setting name="OutputHeader" serializeAs="String">
                <value>Target\tServer\tAddress\tName\tAddress</value>
            </setting>
        </nslookup2csv.Properties.StringFormat>
        <nslookup2csv.Properties.Settings>
            <setting name="ExFilePath" serializeAs="String">
                <value>.\exception</value>
            </setting>
            <setting name="ExFileName" serializeAs="String">
                <value>error.log</value>
            </setting>
            <setting name="EncodeType" serializeAs="String">
                <value>shift_jis</value>
            </setting>
        </nslookup2csv.Properties.Settings>
    </userSettings>
</configuration>